__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.venv
venv/
env/

# DB & uploads
backend/provenance.db
backend/uploads/
backend/keys/

# Node
node_modules/
keyhole/.next/
keyhole/node_modules/

# OS
.DS_Store
Thumbs.db
hackthon/
